body {
    font: 10px sans-serif;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 80%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.yearslidecontainer {
    width: 100%;
}

.yearslider {
    -webkit-appearance: none;
    width: 40%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.yearslider:hover {
    opacity: 1;
}

.yearslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.yearslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

table, th, td {
    border: 1px transparent white;
    border-collapse: collapse;
    vertical-align: top;
}
td {
    padding: 1px;
    text-align: left;    
}
th{  
    padding: 1px;
    text-align: left; 
    font: 12px sans-serif;
    font-weight: bold;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltipception {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}

.tooltipception .tooltipceptiontext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    bottom: -50%;
    left: 50%;
    margin-left: 60px;
}
.tooltipception:hover .tooltipceptiontext {
    visibility: visible;
}
.bubble {
    visibility: hidden;
    background: red;
    color: white;
    padding: 2px 4px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
}

.valuerangewrap {
    position: relative;
}
.methodrangewrap {
    position: relative;
}
.yearrangewrap {
    position: relative;
}
.checkbox{
    margin: 0px;
}
