body {
    font: 10px sans-serif;
}

.slidecontainer {
    width: 100%;
}

.slider {
    -webkit-appearance: none;
    width: 90%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.yearslidecontainer {
    width: 100%;
}

.yearslider {
    -webkit-appearance: none;
    width: 45%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.yearslider:hover {
    opacity: 1;
}

.yearslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

.yearslider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    margin: 3px 5px 3px 0px;
    font-size: 14px;

}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    text-align: center;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltipception {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
}

.tooltipception .tooltipceptiontext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 2;
    bottom: -50%;
    left: 50%;
    margin-left: 60px;
}
.tooltipception:hover .tooltipceptiontext {
    visibility: visible;
}
.bubble {
    visibility: hidden;
    background: red;
    color: white;
    padding: 2px 4px;
    position: absolute;
    border-radius: 4px;
    left: 50%;
    top: -100%;
    transform: translateX(-50%);
}

.valuerangewrap {
    position: relative;
    margin: 5px 0px 9px 0px;

}
.methodrangewrap {
    position: relative;
    margin: 5px 0px 9px 0px;

}
.yearrangewrap {
    position: relative;
    margin: 5px 0px 9px 0px;
    font-size: 10px;
    order: 
}
.checkbox{
    margin: 0px;
    width:10px;
    height:10px;
}
.sourceTitle{
    text-align: center;
    padding-right: 5px;
    font-weight: bold;
    font-size:14px;
    margin:0px;
}
.sourceTitleR{
    text-align: right;
    padding-right: 5px;
    font-weight: bold;
    font-size:14px;
    margin:0px;
}
.sourceTitleL{
    text-align: left;
    padding-right: 5px;
    font-weight: bold;
    font-size:14px;
    margin:0px;
}
.sectorColumn{
    border-right: 2px solid black;
}

.row {
    display: flex;
    zoom: 90%;
    padding-bottom: 5%;
}

.column {
    flex: 40%;
    padding: 1.5rem;
    transition: 0.2s;
    border-radius: 16px;
    background-color: lightcyan;
    box-shadow: -.5rem 0 1rem #000;
}
.column:hover {
    transform: translateY(-1rem);
    position: relative;
}

.column:hover~.column{
    transform: translateX(32%);
    position: relative;
}
.column:not(:first-child) {
    margin-left: -10%;
    position: relative;
}
.UIcolumn1 {
    width: 100px;
    text-align:right;
    position: relative;
}
.UIcolumn2 {
    width: 140px;
    text-align:center;
    position: relative;
}
.UIcolumn3 {
    width: 100px;
    text-align:center;
    position: relative;
}
.UIcolumn4 {
    width: 150px;
    text-align:left;
    position: relative;
}
.graphArea{
    width:100%;
    text-align:center;
}
.scroller{
    overflow:hidden;
    border-style:solid;
    background-color:#F9FFF9;
    border-radius:100px;
    zoom:0.9;
    width:100%;
    margin-left: auto;
    margin-right: auto;    
}
.subtitle{
    font-size:18px;
    text-align:center;
    margin-top:0px;
    margin-bottom: 0px;
}
.mainTitle{
    font-size:22px;
    text-align:center;
    text-decoration:underline;
    margin-bottom:0px;
    margin-top:0px;
}

